@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.menu {
    display: flex;
        overflow: hidden;
        justify-content: space-around;
        background-color: lightgray;
        letter-spacing: 2px;
        font-weight: bold;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
        margin-left: -10px;
}



a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gainsboro;
    transition: 0.7s ease-in-out;
}


body {
    background-color: darkgray;
    color: black;
    font-family: 'Uchen', serif;
}

.first {
    display: inline-block;
    font-size: 95px;
    margin-top: 250px;

}

.second {
    display: inline-block;
    font-size: 30px;
    transition:.5s ease;

}

.name {
    margin-top: -100px;
}

.name:hover .second {
    color: gainsboro;
    transition: 0.7s ease-in-out;
}

.footer {

    position: absolute;
    right: 10px;

}

.links {
    list-style: none;
    justify-content: space-around;
    width: 30px;
    margin-right: -20px;
    position: relative;
    float: right;
}

p {
    display: none;
    max-width: 75%;
}

@media screen and (min-width: 360px) {
    #one {
        display: inline-block;
    }
    #two {
        display: inline-block;
    }
    #three {
        display: inline-block;
    }
    #four {
        display: inline-block;
    }
}


@media screen and (orientation: portrait) {
    #two {
        display: none;
    }

    #four {
        display: none;
    };

    .name {
        display: flex;
    }
}