@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.menu {
    display: flex;
        overflow: hidden;
        justify-content: space-around;
        background-color: lightgray;
        letter-spacing: 2px;
        font-weight: bold;
        position: fixed;
        top: 0;
        width: 100%;
        margin-left: -10px;
        z-index: 999;
}



a:link, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gainsboro;
    transition: 0.7s ease-in-out;
}


body {
    color: black;
    font-family: 'Uchen', serif;
    background: linear-gradient(to right, darkgray, rgba(255,0,0,0)), url(city.jpg);   
    background-color: darkgray;
    background-size: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}

.first {
    display: inline-block;
    font-size: 95px;
    margin-top: 250px;

}

.second {
    display: inline-block;
    font-size: 30px;

}

.name {
    margin-top: -100px;
}

.name:hover .second {
    color: gainsboro;
    transition: 0.7s ease-in-out;
}

.footer {
    position: sticky;
    right: 0px;
    float: right;
    text-shadow: 2px 2px white;
    width: 5px;
    display: table;
}

.links {
    list-style: none;
    position: relative;
    display: table-cell;
    vertical-align: left;
    text-align: center;
}

p {
    display: none;
    max-width: 60%;
}

@media screen and (min-width: 360px) {
    #one {
        display: inline-block;
    }
    #two {
        display: inline-block;
    }
    #three {
        display: inline-block;
    }
    #four {
        display: inline-block;
    }
    body {
        font-size: 1em;
    }
    footer {
        width: 100%;
    }
}


@media screen and (orientation: portrait) {
    #two {
        display: none;
    }

    #four {
        display: none;
    }

    .name {
        display: flex;
    }
}

.carousel {
    width: 80%;
    float: above;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.carousel-images {
    width: 70%;
	background: gainsboro;
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 2px 2px slategray;
}

.carousel-images img {
	display: none;
    width: 100%;
}

.carousel-images img:first-of-type {
	display: block;
}

.float-container {
    padding: 20px;
    margin-top: -60px;
}

.float-child {
    width: 40%;
    float: left;
}

.bio {
    float: bottom;
}

